<h1>Khách hàng</h1>
<table id="khachhang" class="table table-striped" style="font-size: 15px;">
    <thead>
        <tr>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>CMND</th>
            <th>Ngày cấp</th>
            <th>Nơi cấp</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        {{#each khachhang}}
        <tr>
            <td>{{this.MaKH}}</td>
            <td>{{this.TenKhachHang}}</td>
            <td>{{this.DtKH}}</td>
            <td>{{this.DiaChiKH}}</td>
            <td>{{this.CMNDKH}}</td>                                    
            <td>{{this.NgayCapKH}}</td>
            <td>{{this.NoiCapKH}}</td>
            <td>{{this.GhiChu}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#khachhang').DataTable();
    });
</script>
