<h1>Phương tiện</h1>
<table id="phuongtien" class="table table-striped" style="font-size: 15px;">
    <thead>
        <tr>
            <th>Mã thẻ</th>
            <th>Biển số đầu</th>
            <th>Biển số cuối</th>
            <th>Trọng tải</th>
            <th>Tên chủ xe</th>
            <th>Số điện thoại</th>
            <th>CMND</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        {{#each phuongtien}}
        <tr>
            <td>{{this.MaTheXe}}</td>
            <td>{{this.BienSoDauXe}}</td>
            <td>{{this.BienSoCuoiXe}}</td>
            <td>{{this.TrongTai}}</td>
            <td>{{this.TenChuXe}}</td>
            <td>{{this.SoDienThoai}}</td>
            <td>{{this.CMND}}</td>
            <td>{{this.GhiChu}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
        $(document).ready(function () {
        $('#phuongtien').DataTable();
        });
</script>