<style>
        .table-container {
            overflow-x: auto;
            max-width: 100%;
        }
</style>
<body>
    <h1>Thông tin cân xe</h1>
    <div class="table-container">
        <table id="thongtincanxe" class="table table-striped" style="font-size: 15px;">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên lái xe</th>
                    <th>Khách hàng</th>
                    <th>Loại hàng</th>
                    <th>Kho hàng</th>
                    <th>Nguồn gốc</th>
                    <th>Kiểu cân</th>
                    <th>Chất lượng hàng hóa</th>
                    <th>Biển số đầu</th>
                    <th>Biển số đuôi</th>
                    <th>Khối lượng tạp chất</th>
                    <th>Khối lượng lần 1</th>
                    <th>Khối lượng lần 2</th>
                    <th>Khối lượng hàng</th>
                    <th>Thời gian cân lần 1</th>
                    <th>Thời gian cân lần 2</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                {{#each ttcanxe}}
                <tr>
                    <td>{{this.Id}}</td>
                    <td>{{this.TenLaixe}}</td>
                    <td>{{this.KhachHang}}</td>
                    <td>{{this.LoaiHang}}</td>
                    <td>{{this.KhoHang}}</td>
                    <td>{{this.NguonGoc}}</td>
                    <td>{{this.KieuCan}}</td>
                    <td>{{this.ChatLuongHH}}</td>
                    <td>{{this.BienSoDauXe}}</td>
                    <td>{{this.BienSoDuoiXe}}</td>
                    <td>{{this.KhoiLuongTapChat}}</td>
                    <td>{{this.KhoiLuongL1}}</td>
                    <td>{{this.KhoiLuongL2}}</td>
                    <td>{{this.KhoiLuongHang}}</td>
                    <td>{{this.ThoiGianCanL1}}</td>
                    <td>{{this.ThoiGianCanL2}}</td>
                    <td>{{this.DonGia}}</td>
                    <td>{{this.ThanhTien}}</td>
                    <td>{{this.GhiChu}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#thongtincanxe').DataTable();
        });
    </script>
</body>
