<h1>Danh sách đăng ký</h1>
<table id="loaihang" class="table table-striped" style="font-size: 14px;">
    <thead>
        <tr>
            <th>Mã đơn</th>
            <th>Họ tên</th>
            <th>Di động</th>
            <th>Tên doanh nghiệp</th>
            <th>Địa chỉ</th>
            <th>Loại hàng</th>
            <th>Đơn giá</th>
            <th>Khối lượng</th>
            <th>Thời gian</th>
            <th>Tên lái xe</th>
            <th>Biển số đầu</th>
            <th>Biển số đuôi</th>
            <th>Xuất/Nhập</th>
            <th>CMND</th>
            <th>Trạng thái</th>
            <th>Xác nhận</th>
        </tr>
    </thead>
    <tbody>
        {{#each xacnhan}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.HoTen}}</td>
            <td>{{this.DiDong}}</td>
            <td>{{this.TenDoanhNghiep}}</td>
            <td>{{this.DiaChi}}</td>
            <td>{{this.LoaiHang}}</td>
            <td>{{this.DonGia}}</td>
            <td>{{this.KhoiLuong}}</td>
            <td>{{this.Date}}</td>
            <td>{{this.TenLaiXe}}</td>
            <td>{{this.BienSoDau}}</td>
            <td>{{this.BienSoDuoi}}</td>  
            <td>{{this.XuatNhap}}</td>
            <td>{{this.CMND}}</td>  
            <td class="text-success font-weight-bold" data-trangthai="{{this.TrangThai}}" >{{this.TrangThai}}</td>
            <td>
                <form action="/accept" method="POST">
                <input type="hidden" name="id" value="{{this.ID}}">
                <button class="xac-nhan-btn btn btn-outline-primary" type="submit">Xác nhận</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#loaihang').DataTable();
    
        $('.xac-nhan-btn').on('click', function () {
            var id = $(this).data('id');
            var trangThaiCell = $(this).closest('tr').find('td[data-trangthai]');
            var trangThai = trangThaiCell.data('trangthai');
            trangThaiCell.text('Đã xác nhận');
            Swal.fire({
                icon: 'success',
                title: 'Xác nhận thành công',
            });
        });
    });
</script>
